<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
    <title>Home</title>
</head>
<body>
    <% include partials/nav.ejs %>
    <header>
        <h1>Nick's OAuth</h1>
        <h2>Some interesting topic</h2>
    </header>
    <main>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum molestiae doloribus corrupti, necessitatibus aut error consequatur cum magnam id possimus unde repellat totam et? Ea laboriosam cumque qui adipisci soluta?</p>
    </main>
</body>
</html>