<!DOCTYPE html>
<html lang="en">
<head>
    <%- include partials/head.ejs %>
    <title>Home</title>
</head>
<body>
    <%- include('partials/nav.ejs', { loggedIn: typeof user === 'object' });  %>
    <main>
        <div id="profile">
            <h2><%= user.name + ' ' + user.surname %></h2>
            <img src="<%= user.avatar %>" alt="avatar" id="profile-avatar">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit velit maxime nulla assumenda quos! Facilis temporibus molestias vero quae tempore. Eos, esse id est commodi voluptatibus itaque rerum quae tempore.</p>
        </div>
    </main>
</body>
</html>