body {
    font-family: arial;
    margin: 0;
}

nav {
    background: #ff5353;
    padding: 20px 10px;
}

nav ul {
    margin: 0 auto;
    padding: 0;
}

nav li {
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
}

nav a {
    color: #fff;
    font-size: 18px;
    background: rgba(255, 255, 255, .2);
    text-decoration: none;
    padding: 10px;
    display: block;
}

main, header {
    margin: 30px auto;
    padding: 0 10px;
    color: #333;
}

.google-btn{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    background: #ff5353;
}

#profile {
    width: 400px;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#profile-avatar {
    vertical-align: middle;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}